body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f7f7f7;
}
#countdown {
    font-size: 2em;
    margin: 20px;
}
#notes {
    margin: 20px;
}
textarea {
    width: 300px;
    height: 100px;
}
ul {
    list-style-type: none;
    padding: 0;
}